spring:
  application:
    name: Notification-Consumer
  datasource:
    url: jdbc:mysql://localhost:3306/impact?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: user
    password: P@ssw0rd@9860
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8000